.dialog-content-wrapper {
  h1.mat-dialog-title {
    background-color: #039be5;
    color: #fff;
    margin: 0;
    padding: 10px 12px;
  }
  .confirm-message {
    width: 100%;
    white-space: pre-line;
  }
}
