<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{'LOG.DETAIL' | translate}}</span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close(false)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content fusePerfectScrollbar>
    <div class='w 100-p' fxLayout='row' fxLayoutAlign='space-between'>
      <p><b>Level: </b>{{data.logLevel}}</p>
      <p class='secondary-text'><b>Time: </b>{{data.createdOnUtc | date: pipe.fullDateTime}}</p>
    </div>
    <p><b>Message: </b>{{data.shortMessage}}</p>
    <p style='white-space: pre-wrap'>{{data.fullMessage}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="dialogRef.close(false)">{{'COMMON.CLOSE' | translate}}</button>
  </div>
</div>
