<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{'USER.CHANGEPASSWORD' | translate}}</span>
      <button mat-button class="mat-icon-button" (click)="dialogRef.close(false)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content fusePerfectScrollbar>
    <form name="frm" [formGroup]="frm" class="w-100-p">

      <mat-form-field class="w-100-p">
        <input type="password" matInput name="currentPassword" formControlName="currentPassword" placeholder="{{'USER.CURRENTPASSWORD' | translate}}" required>
        <mat-error *ngIf="formErrors.currentPassword">
          {{formErrors.currentPassword}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <input type="password" matInput name="newPassword" formControlName="newPassword" placeholder="{{'USER.NEWPASSWORD' | translate}}" required>
        <mat-error *ngIf="formErrors.newPassword">
          {{formErrors.newPassword}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100-p">
        <input type="password" matInput name="confirmPassword" formControlName="confirmPassword" placeholder="{{'USER.CONFIRMPASSWORD' | translate}}" required>
        <mat-error *ngIf="formErrors.confirmPassword">
          {{formErrors.confirmPassword}}
        </mat-error>
      </mat-form-field>

    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button class="mat-accent" (click)="save()"
            [disabled]="frm.invalid || frm.pristine"
            promise-btn [promiseButton]="saveOb">{{'COMMON.SAVE' | translate}}</button>
    <button mat-raised-button (click)="dialogRef.close(false)">{{'COMMON.CLOSE' | translate}}</button>
  </div>
</div>
